absl-py==2.1.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.11
asgiref==3.8.1
astunparse==1.6.3
async-timeout==5.0.1
attrs==24.2.0
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.4.0
crispy-bootstrap4==2022.1
Django==4.2.5
django-crispy-forms==2.0
flatbuffers==24.3.25
frozenlist==1.5.0
gast==0.4.0
gunicorn
idna==3.10
importlib_metadata==8.5.0
joblib==1.4.2
keras>=3.0.0
libclang==18.1.1
Markdown==3.7
numpy>=1.23.2,<1.28.0
packaging==24.2
pandas==2.0.3
protobuf>=3.20.3,<4.0.0
Pillow==10.0.1
pytz==2024.2
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
six==1.16.0
sqlparse==0.5.2
stripe==11.3.0
